<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Investor | Home</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'investor/css/styles.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'investor/img/logo.svg' %}" alt="">
        </div>
<ul class="nav-area">
    <li><a href="{% url 'investor:home' %}">Home</a></li>
    <li><a href="{% url 'investor:services' %}">Services</a></li>
    <li><a href="{% url 'investor:contact' %}">Contact</a></li>
    <li><a href="{% url 'investor:about' %}">About</a></li>
    <li><a href="{% url 'investor:logout' %}">Logout</a></li>
</ul>
</div>
        <div class="welcome-text">
        <h1>
Welcome to <span>CrossCut Capitals</span></h1>
<a href="{% url 'investor:content' %}">Get Started</a>
    </div>
</header>

</body>
</html>
