<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="">
        </div>
<ul class="nav-area">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'services' %}">Services</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
</ul>
</div>
<div class="welcome-text">
        <h2>
            Please Choose The Respective Category</h2>
            <a href="{% url 'investor:login' %}">Investor</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'entreprenuer:login' %}">Entreprenuer</a>
    </div>
</header>

</body>
</html>
