<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entreprenuer | Successful</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'entreprenuer/css/styles.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'entreprenuer/img/logo.svg' %}" alt="">
        </div>
<ul class="nav-area">
    <li><a href="{% url 'entreprenuer:home' %}">Home</a></li>
    <li><a href="{% url 'entreprenuer:services' %}">Services</a></li>
    <li><a href="{% url 'entreprenuer:contact' %}">Contact</a></li>
    <li><a href="{% url 'entreprenuer:about' %}">About</a></li>
    <li><a href="{% url 'entreprenuer:logout' %}">Logout</a></li>
</ul>
</div>
        <div class="welcome-text">
        <h1>
Your Idea is Submitted</h1>
<a href="{% url 'entreprenuer:content' %}">Let's Go Back To Contents</a>
    </div>
</header>

</body>
</html>
