* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.wrapper {
	width: 1900px;
	position: fixed;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
	margin-right: 50px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
    border-bottom: 2px solid #fff;
}
.logo {
	float: left;

	margin-left: 80px;
}
.logo img {
	width: 200px;
    height: 100px;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h2 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
.log{
	padding: 20px;
	width: 30%;
	margin:12% auto;
	background: #fff;
	border-radius: 20px;
	align-items: center;
	text-align: center;
}
.log input{
	width: 90%;
	padding: 10px;
	border-radius: 20px;
	border: #000 2px solid;
	text-decoration: none;
	background: #fff;
	margin: 3% auto;
}
.log textarea{
	width: 90%;
	padding: 10px;
	border-radius: 20px;
	border: #000 2px solid;
	text-decoration: none;
	background: #fff;
	margin: 3% auto;
}
.log input:focus{
	outline: none;
}
.log textarea:focus{
	outline: none;
}
.log a{
	color:#333;
	text-decoration: none;
}
.log button{
	width: 30%;
	border-radius: 20px;
	background: #000;
	color: #fff;
	border: none;
	outline: none;
	padding: 10px;
}
.abt{
	padding: 20px;
	width: 90%;
	margin:2% auto;
	border-radius: 20px;
	color:#000;
	background:#fff;
	align-items: center;
}
.abt h3{
	line-height: 2em;
}
.cards {
    margin: 5% auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 50px;
    font-family: sans-serif;
    padding-top: 30px;  
    padding-bottom: 60px;
  }
  .cards * {
    box-sizing: border-box;
  }
  .card{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4); 
    transition-duration: 1s;
    background-color: #fff;
  }
  .card:hover{
    transform: scale(1.12); 
  }
  .card_image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
  }
  .card_content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 10px;
  }
  .cnt{
      margin: 10% auto;
  } 
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
